@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Roboto+Slab:wght@400;500&display=swap');

/* General Rules */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Roboto Slab", "Times New Roman", serif;
}

h1,
h2,
h3 {
    font-weight: 500;
}

/* Header and Nav Bar */
header {
    background-color: #152a25;
    padding: 1rem;
    height: 100px;
}

header > a {
    color: #ffc702;
    float: left;
    font-size: 5rem;
    margin-left: 1.75rem;
}

#menu {
    float: right;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 100px;
}

#menu li{
    float: left;
    list-style-type: none;
    margin-right: 1.75rem;
}

#menu a{
    text-decoration: none;
    color: #ffc702;
}

#menu a:hover {
    border-bottom: .1rem solid #ffc702;
}

#menu a:focus {
    border-bottom: .1rem solid #ffc702;
}

.current-page {
    border-bottom: .1rem solid #ffc702;
}

/* Hero Image and text area */

#hero-outer {
    height: 800px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.hero-image {
    background: url('../images/lotus-25-on-track.jpg') no-repeat center center;
    background-size: cover;
    height: 100%;
}

#hero-text > h1 {
    font-family: "Racing Sans One", sans-serif;
    font-size: 4rem;
    padding: 2rem 2rem 0;
    letter-spacing: 2pt;
}

#hero-text > h2 {
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

#hero-text {
    background-color: #ffc702;
    position: absolute;
    margin-left: 2.75rem;
    text-align: center;
    border-radius: 20px;
    bottom: 60px;
}

/* next race section */

.next-race {
    background-color: #152a25;
    color: #ffc702;
    font-family: "Racing Sans One", sans-serif;
    display: flex;
    flex-flow: row-reverse wrap-reverse;
    justify-content: center;
    align-items: center;
    padding: 15px
}

.next-race-image > img{
    height: 340px;
    width: auto;
    vertical-align: center;
    padding: 1.75rem;
    object-fit: contain;
    
}

.next-race-text {
    height: 340px;
    width: 48%;
}

.next-race-text > h2 {
    font-size: 3rem;
    text-align: center;
}
.next-race-text > h3 {
    font-size: 2rem;
    text-align: center;
}

.next-race-text > p {
    font-size: 1.5rem;
    text-align: center;
    padding: 3rem;
}

.buttons {
    text-align: center;
}

.buttons > a {
    display: inline-block;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, .25),
    inset -4px 4px 4px 0px rgba(0, 0, 0, .25),
    inset 4px 4px 4px 0px rgba(255, 255, 255, .25);
}
.next-race-button {
    background-color: #ffc702;
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
    border-radius: 5px;
    height: 85px;
    width: 225px;
    line-height: 85px;
}

#entry-button {
    margin-right: 40px;
}

#tickets-button {
    margin-left: 40px;
}

/* Statistic cards area */

.statistics {
    margin: 2.75rem 2.75rem 0;
}

.statistics > p {
    margin-top: 10px;
}

/* Setup of display grid */

.statistics-grid {
    font-family: "Racing Sans One", sans-serif;
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "f1     ."
        "f1     indy"
        "f1     indy"
        ".      indy"
        "lemans ."
        "lemans drivers"
        "lemans drivers"
        ".      drivers";
}

.grid-f1 {
    grid-area: f1;
}

.grid-indy {
    grid-area: indy;
}

.grid-lemans {
    grid-area: lemans;
}

.grid-drivers {
    grid-area: drivers;
}

/* interior of grid styling */

.card {
    background-color: #ffc702;
    padding-top: 10px;
}

.card-container {
    background-color:#f5f5f5;
    text-align: center;
    height: 450px;
}

.card-numbers {
    font-size: 3rem;
}

.card-container > h2 {
    font-size: 3rem;
}

.card-container > p {
    font-size: 3rem;
}

.card-text {
    font-size: 1.25rem;
    margin-left: 1.25rem;
}

/* Formula One subgrid */

.f1-inner-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
       "f1-header       f1-header"
       "f1-wdc-number   f1-wdc-text"
       "f1-rw-number    f1-rw-text"
       "f1-pf-number    f1-pf-text"
       "f1-rs-number    f1-rs-text";
}

.f1-header {
    grid-area: f1-header;
    align-self: center;
}

.f1-wdc-number {
    grid-area: f1-wdc-number;
    text-align: right;
    align-self: center;
}

.f1-wdc-text {
    grid-area: f1-wdc-text;
    text-align: left;
    align-self: center;
}

.f1-rw-number {
    grid-area: f1-rw-number;
    text-align: right;
    align-self: center;
}

.f1-rw-text {
    grid-area: f1-rw-text;
    text-align: left;
    align-self: center;
}

.f1-pf-number {
    grid-area: f1-pf-number;
    text-align: right;
    align-self: center;
}

.f1-pf-text {
    grid-area: f1-pf-text;
    text-align: left;
    align-self: center;
}

.f1-rs-number {
    grid-area: f1-rs-number;
    text-align: right;
    align-self: center;
}

.f1-rs-text {
    grid-area: f1-rs-text;
    text-align: left;
    align-self: center;
}

/* Indycar subgrid */

.indy-inner-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
       "indy-header       indy-header"
       "indy-500-wins-number   indy-500-wins-text"
       "indy-rw-number    indy-rw-text"
       "indy-pf-number    indy-pf-text"
       ".                 .";
}

.indy-header {
    grid-area: indy-header;
    align-self: center;
}

.indy-500-wins-number {
    grid-area: indy-500-wins-number;
    text-align: right;
    align-self: center;
}

.indy-500-wins-text {
    grid-area: indy-500-wins-text;
    text-align: left;
    align-self: center;
}

.indy-rw-number {
    grid-area: indy-rw-number;
    text-align: right;
    align-self: center;
}

.indy-rw-text {
    grid-area: indy-rw-text;
    text-align: left;
    align-self: center;
}

.indy-pf-number {
    grid-area: indy-pf-number;
    text-align: right;
    align-self: center;
}

.indy-pf-text {
    grid-area: indy-pf-text;
    text-align: left;
    align-self: center;
}

/* Lemans 24hr subgrid */

.lemans-inner-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
       "lemans-header       lemans-header"
       "lemans-ow-number    lemans-ow-text"
       "lemans-op-number    lemans-op-text"
       "lemans-cw-number    lemans-cw-text"
       ".                   .";
}

.lemans-header {
    grid-area: lemans-header;
    align-self: center;
}

.lemans-ow-number {
    grid-area: lemans-ow-number;
    text-align: right;
    align-self: center;
}

.lemans-ow-text {
    grid-area: lemans-ow-text;
    text-align: left;
    align-self: center;
}

.lemans-op-number {
    grid-area: lemans-op-number;
    text-align: right;
    align-self: center;
}

.lemans-op-text {
    grid-area: lemans-op-text;
    text-align: left;
    align-self: center;
}

.lemans-cw-number {
    grid-area: lemans-cw-number;
    text-align: right;
    align-self: center;
}

.lemans-cw-text {
    grid-area: lemans-cw-text;
    text-align: left;
    align-self: center;
}
