@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Roboto+Slab:wght@400;500&display=swap');

/* General Rules */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Roboto Slab", "Times New Roman", serif;
}

h1,
h2,
h3 {
    font-weight: 500;
}

/* Header and Nav Bar */
header {
    background-color: #152a25;
    padding: 1rem;
    min-height: 100px;
    height: auto;
    max-height: 300px;
}

header > a {
    color: #ffc702;
    float: left;
    font-size: 5rem;
    margin-left: 1.75rem;
}

#menu {
    float: right;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 100px;
}

#menu > li{
    float: left;
    list-style-type: none;
    margin-right: 1.75rem;
}

#menu a{
    text-decoration: none;
    color: #ffc702;
}

#menu a:hover {
    border-bottom: .1rem solid #ffc702;
}

#menu a:focus {
    border-bottom: .1rem solid #ffc702;
}

.current-page {
    border-bottom: .1rem solid #ffc702;
}

/* Hero Image and text area */
.hero-outer {
    height: 800px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.hero-image {
    background: url('../images/lotus-25-on-track.jpg') no-repeat center center;
    background-size: cover;
    height: 100%;
}

.hero-text > h1 {
    font-family: "Racing Sans One", sans-serif;
    font-size: 4rem;
    padding: 2rem 2rem 0;
    letter-spacing: 2pt;
}

.hero-text > h2 {
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

.hero-text {
    background-color: #ffc702;
    position: absolute;
    margin-left: 2.75rem;
    text-align: center;
    border-radius: 20px;
    bottom: 60px;
}

/* next race section */
.next-race {
    background-color: #152a25;
    color: #ffc702;
    font-family: "Racing Sans One", sans-serif;
    display: flex;
    flex-flow: row-reverse wrap-reverse;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.next-race-text {
    float: left;
    margin: 1rem; 
}

.next-race-image {
    float: right;
    height: 360px;
    align-content: center;
    vertical-align: middle;
    margin: 1rem;
}

.next-race-image > img{
    height:100%;
    width: auto;
    max-width: 100%;
    object-fit: contain;
}

.next-race-text > h2 {
    font-size: 3rem;
    text-align: center;
}

.next-race-text > h3 {
    font-size: 2rem;
    text-align: center;
}

.next-race-text > p {
    font-size: 1.5rem;
    text-align: center;
    padding: 3rem;
}

.next-race-buttons-container {
    text-align: center;
}

.next-race-buttons-container > a {
    display: inline-block;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, .25),
    inset -4px 4px 4px 0px rgba(0, 0, 0, .25),
    inset 4px 4px 4px 0px rgba(255, 255, 255, .25);
}

.next-race-buttons-container > a:hover {
    text-decoration: underline;
}

.next-race-button {
    background-color: #ffc702;
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
    border-radius: 5px;
    height: 85px;
    width: 225px;
    line-height: 85px;
    margin: 25px;
}

/* main info area */
.main {
    margin: 2.75rem 2.75rem 0;
}

#finish-line {
    background-color: #ffc702;
    height: 2rem;
    width: 100%;
    padding: 1rem 0;
}

.main > p {
    margin-top: 10px;
    font-size: 1.25rem;
}

/* Setup of display grid for statistics area */
.statistics-grid {
    font-family: "Racing Sans One", sans-serif;
    margin-top: 25px;
    display: grid;
    column-gap: 25px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "f1     ."
        "f1     indy"
        "f1     indy"
        ".      indy"
        "lemans ."
        "lemans drivers"
        "lemans drivers"
        ".      drivers";
}

.grid-f1 {
    grid-area: f1;
}

.grid-indy {
    grid-area: indy;
}

.grid-lemans {
    grid-area: lemans;
}

.grid-drivers {
    grid-area: drivers;
}

/* interior of grid styling */
.card {
    padding-top: 10px;
    /* code below would normally be written as 
    background: linear-gradient(#ffc702 20%, #f5f5f5 20% 100%); 
    however the css validator does not recognise the multiple color 
    stops syntax which is defined in level 4 of the CSS image module, 
    the validator only recognises upto level 3*/
    background-image: linear-gradient(#ffc702 20%, #f5f5f5 20%, #f5f5f5 100%);
}

.card-container {
    background-color:#f5f5f5;
    text-align: center;
    box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.25);
    border-radius: 0 0 5px 5px;
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
    min-height: 350px;
}

.card-numbers {
    font-size: 3rem;
}

.card-container > h2 {
    font-size: 3rem;
}

.card-container > p {
    font-size: 2.5rem;
}

.card-text {
    font-size: 1.25rem;
    margin-left: 1.25rem;
}

/* Formula One subgrid */
.f1-inner-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
       "f1-header       f1-header"
       "f1-wdc-number   f1-wdc-text"
       "f1-rw-number    f1-rw-text"
       "f1-pf-number    f1-pf-text"
       "f1-rs-number    f1-rs-text";
}

.f1-header {
    grid-area: f1-header;
    align-self: center;
}

.f1-wdc-number {
    grid-area: f1-wdc-number;
    text-align: right;
    align-self: center;
}

.f1-wdc-text {
    grid-area: f1-wdc-text;
    text-align: left;
    align-self: center;
}

.f1-rw-number {
    grid-area: f1-rw-number;
    text-align: right;
    align-self: center;
}

.f1-rw-text {
    grid-area: f1-rw-text;
    text-align: left;
    align-self: center;
}

.f1-pf-number {
    grid-area: f1-pf-number;
    text-align: right;
    align-self: center;
}

.f1-pf-text {
    grid-area: f1-pf-text;
    text-align: left;
    align-self: center;
}

.f1-rs-number {
    grid-area: f1-rs-number;
    text-align: right;
    align-self: center;
}

.f1-rs-text {
    grid-area: f1-rs-text;
    text-align: left;
    align-self: center;
}

/* Indycar subgrid */
.indy-inner-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
       "indy-header             indy-header"
       "indy-500-wins-number    indy-500-wins-text"
       "indy-rw-number          indy-rw-text"
       "indy-pf-number          indy-pf-text"
       ".                       .";
}

.indy-header {
    grid-area: indy-header;
    align-self: center;
}

.indy-500-wins-number {
    grid-area: indy-500-wins-number;
    text-align: right;
    align-self: center;
}

.indy-500-wins-text {
    grid-area: indy-500-wins-text;
    text-align: left;
    align-self: center;
}

.indy-rw-number {
    grid-area: indy-rw-number;
    text-align: right;
    align-self: center;
}

.indy-rw-text {
    grid-area: indy-rw-text;
    text-align: left;
    align-self: center;
}

.indy-pf-number {
    grid-area: indy-pf-number;
    text-align: right;
    align-self: center;
}

.indy-pf-text {
    grid-area: indy-pf-text;
    text-align: left;
    align-self: center;
}

/* Lemans 24hr subgrid */
.lemans-inner-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
       "lemans-header       lemans-header"
       "lemans-ow-number    lemans-ow-text"
       "lemans-op-number    lemans-op-text"
       "lemans-cw-number    lemans-cw-text"
       ".                   .";
}

.lemans-header {
    grid-area: lemans-header;
    align-self: center;
}

.lemans-ow-number {
    grid-area: lemans-ow-number;
    text-align: right;
    align-self: center;
}

.lemans-ow-text {
    grid-area: lemans-ow-text;
    text-align: left;
    align-self: center;
}

.lemans-op-number {
    grid-area: lemans-op-number;
    text-align: right;
    align-self: center;
}

.lemans-op-text {
    grid-area: lemans-op-text;
    text-align: left;
    align-self: center;
}

.lemans-cw-number {
    grid-area: lemans-cw-number;
    text-align: right;
    align-self: center;
}

.lemans-cw-text {
    grid-area: lemans-cw-text;
    text-align: left;
    align-self: center;
}

/* Legendary Drivers subgrid */
.drivers-inner-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "driver-header"   
        "driver-one"
        "driver-one-sub"
        "driver-two"
        "driver-two-sub"
        "driver-three"
        "driver-three-sub";
}

.driver-header {
    grid-area: driver-header;
    align-self: center;
}

.driver-one {
    grid-area: driver-one;
    align-self: center;
}

.driver-one-sub {
    grid-area: driver-one-sub;
    align-self: center;
}

.driver-two {
    grid-area: driver-two;
    align-self: center;
}

.driver-two-sub {
    grid-area: driver-two-sub;
    align-self: center;
}

.driver-three {
    grid-area: driver-three;
    align-self: center;
}

.driver-three-sub {
    grid-area: driver-three-sub;
    align-self: center;
}

/* footer element styling */
.bookmark {
    font-size: 2rem;
    width: 100%;
    text-align: center;
    margin-top: 25px;
}

#bookmark-icon {
    color: #152a25;
}

/* top of footer area styling */
.footer-top {
    background-color: #ffc702;
    min-height: 100px;
    max-height: 400px;
    margin-top: 25px;
    font-size: 1.25rem;
    padding: 0 1.75rem;
}

.newsletter-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: baseline;
    padding: 20px 0;
    text-align: center;
}

.newsletter-container > h2 {
    flex-shrink: 3;
}

.email-form {
    flex-grow: 2;
    flex-shrink: 0;
    font-size: 1.5rem;
    padding: 0 10px;
    flex-wrap: nowrap;
}

#email {
    height: 50px;
    width: 80%;
    min-width: 300px;
    max-width: 800px;
    background-color: #ffefb7;
    border-radius: 8px;
    font-size: 1.25rem;
    padding-left: 30px;
}

#email:hover {
    background-color: #fff;
}

.sign-up-button {
    background-color: #152a25;
    text-decoration: none;
    color: #ffc702;
    font-size: 1.25rem;
    border-radius: 5px;
    height: 60px;
    width: 225px;
    line-height: 60px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, .25),
    inset -4px 4px 4px 0px rgba(0, 0, 0, .25),
    inset 4px 4px 4px 0px rgba(255, 255, 255, .25);
    flex-shrink: 0;
}

.sign-up-button:hover{
    text-decoration: underline;
}

/* Bottom of footer area styling */
.footer-bottom {
    min-height: 100px;
    max-height: 300px;
    background-color: #152a25;
}

.social-channels {
    display: flex;
}

.social-icons {
    font-size: 3.5rem;
    text-align: center;
    list-style-type: none;
    width: 25%;
    line-height: 100px;
}

.social-icons > a{
    color: #ffc702;
}

.social-icons > a:hover{
    border-bottom: .1rem solid #ffc702;
}

.copyright {
    text-align: center;
    color: #ffc702;
    padding-bottom: 10px;
}

/* ============================
==Trophy.html specific styling==
=============================== */
.float-left {
    float: left;
    margin: 10px 15px 10px 0;
}

.float-right {
    float: right;
    margin: 10px 0 10px 15px;
}

.float-left > img,
.float-right > img {
    min-width: 300px;
    max-width: 375px;
    width: 375px;
    height: auto;
}

figcaption {
    text-align: center;
    min-width: 300px;
    max-width: 375px;
}

/* engraving errors table styling */
.trophy-history >p {
    margin-top: 10px;
    font-size: 1.25rem;
}

.trophy-errors {
    min-width: 300px;
    border: 2px solid #000;
    border-collapse: collapse;
    border-spacing: 0;
}

.table-row-title {
    background-color: #152a25;
    color: #ffc702;
    font-size: 1.5rem;
}

.table-row-header {
    background-color: #ffc702;
}

.trophy-errors > tbody {
    border: inherit;
    padding: 15px;
}

.trophy-errors th,
.trophy-errors td {
    padding: 0.25rem;
}

/*=============================
==winners.html specific styling==
=============================== */
.centered-heading {
    text-align: center;
}

#winners-table-container {
    max-width: 890px;
    margin: 10px auto 25px;
}

#winners-table {
    border: 2px solid black;
    border-collapse: collapse;
    padding-bottom: 25px;
    width: 100%;
}

.winners-table-body>tr:nth-child(even) {
    background-color: #ffefb7;
}

.first-of-decade {
    border-top: 2px solid black;
}

#download-link {
    width: 100%;
}

#download-link > a {
    text-decoration: none;
}

.download-button {
    background-color: #152a25;
    color: #ffc702;
    font-size: 1.25rem;
    text-align: center;
    border-radius: 5px;
    height: 60px;
    width: 225px;
    line-height: 60px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, .25),
    inset -4px 4px 4px 0px rgba(0, 0, 0, .25),
    inset 4px 4px 4px 0px rgba(255, 255, 255, .25);
    margin: 0 auto;
    display: block;
}

#download-link > a:hover{
    text-decoration: underline;
}

/* ============================
==gallery.html specific styling==
=============================== */
.main h3 {
    padding: 15px 0;
}

/* container for responsive video player - */
.video {
    width: 80%;
    margin: 0 auto;
}
/* responsive youtube code adapted from article on 
avexdesigns.com/blog/responsive-youtube-embed */
.youtube-container { 
    position: relative; 
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0; 
    overflow: hidden; 
    max-width: 100%;
} 
    
.youtube-container iframe,
.youtube-container object,
.youtube-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}

.photos {
    position: relative;
    margin-top: 25px;
}

.photo-container {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 1em;
}

.photo-container > img {
    width: 100%;
}

/* ============================
==contact.html specific styling==
=============================== */
.contact-form {
    margin: 25px auto 0;
    background-color: #f5f5f5;
    max-width: 800px;
    font-size: 1.25rem;
}

.contact-form > label {
    display: inline;
}

.contact-form > input,
.contact-form > textarea {
    font-family: inherit;
    font-size: 1.25rem;
    resize: none;
}
.text-input {
    box-sizing: border-box;
    background-color: #ffefb7;
    width: 100%;
    height: 50px;
    margin: 5px 0 25px 0;
    border: 1px solid #152a25;
    border-radius: 5px;
    padding-left: 30px;
}

form textarea {
    width: 100%;
    max-width: 800px;
    min-height: 50px;
    max-height: 500px;
    height: 500px;
}

.text-input:hover {
    background-color: #fff;
}

#message {
    height: 500px;
}

.send-button {
    text-align: center;
    margin: 20px auto;
    background-color: #152a25;
    color: #ffc702;
    display: block;
    font-size: 1.25rem;
    border-radius: 5px;
    height: 60px;
    width: 225px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, .25),
    inset -4px 4px 4px 0px rgba(0, 0, 0, .25),
    inset 4px 4px 4px 0px rgba(255, 255, 255, .25);
}

.send-button:hover {
    text-decoration: underline;
}

/* solution for iOS overriding button styling found on stackoverflow
https://stackoverflow.com/questions/5449412/styling-input-buttons-for-ipad-and-iphone*/
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    }

/* ======================================================
==newsletter thank you and form submit specific styling==
========================================================= */

.short-page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.short-content {
    flex: 1;
    max-width: calc(100% - 3.5rem);
    width: 500px;
}


/* =================================
== Start of media queries section ==
===================================*/
@media screen and (max-width: 1200px) {
    .newsletter-container {
        display: block;
    }
    .sign-up-button {
        display: block;
        margin: 10px auto 0;
    }
    .newsletter-container > h2,
    .email-form {
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 940px) {
    
    #winners-table th,
    #winners-table td {
        display:inline-block;
        width: 24%;
        text-align: start;
    }
    
    #winners-table th:first-child,
    #winners-table td:first-child {
        display: block;
        width: 100%;
        font-weight: bold;
        text-align: start;
    }

}

@media screen and (max-width: 785px) {
    html {
        font-size: 15px;
    }

    header {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    header > a {
        font-size: 3rem;
        margin: 0;
        text-align: center;
    }

    #menu {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        align-content: center;
        line-height: normal;
        margin-bottom: 10px;
    }

    #menu > li {
        margin: 0 10px;
        text-align: center;
    }

    /* drop photo gallery down to two columns */
    .photo-container {
        column-count: 2;
    }

}

@media screen and (max-width: 595px) {
    html {
        font-size: 14px;
    }

    /* nav bar adjustment for mobile*/
    #menu > li {
        flex-basis: 100%;
        padding-bottom: 10px;
    }

    .hero-outer {
        height: 600px;
    }

    .hero-image {
        background: url('../images/lotus-25-on-track-mobile.jpg') no-repeat center center;
        background-size: cover;
        height: 100%;
    }

    .hero-text {
        margin: 0 1.75rem;
    }

    .hero-text > h1 {
        font-size: 3rem;
        padding: 1.5rem 1.5rem 0;
    }

    .hero-text > h2 {
        font-size: 2rem;
        padding-bottom: 1.5rem;
    }

    /* Next Race Banner for Mobile*/
    .next-race {
        padding: 1.75rem;
    }

    .next-race-text {
        margin: 0;
    }

    .next-race-image {
        margin: 0;
    }

    .next-race-text > h2 {
        font-size: 2.5rem;
    }

    .next-race-text > h3 {
        font-size: 1.75rem;
    }

    .next-race-text > p {
        font-size: 1.25rem;
        padding: 1rem;
    }

    .next-race-button {
        margin: 15px;
    }

    .next-race-image > img {
        object-fit: cover;
    }

    .main {
        margin: 1.75rem 1.75rem 0;
    }

    #finish-line {
        padding: 0;
        height: 0;
    }

    .statistics-grid {
        grid-template-columns: auto;
        row-gap: 1rem;
        grid-template-areas: 
            "f1"
            "f1"
            "f1"
            "."
            "indy"
            "indy"
            "indy"
            "."
            "lemans"
            "lemans"
            "lemans"
            "."
            "drivers"
            "drivers"
            "drivers";
    }

/* newsletter sign up for mobile*/
    .email-form {
        padding: 0;
    }

    #email {
        padding-left: 1rem;
        min-width: 0;

    }

    /*trophy.html specific styling for mobile*/
    .float-left,
    .float-right {
        margin: 10px 0;
        width: 100%;
    }

    .float-left > img,
    .float-right > img {
        min-width: 0;
        max-width: 100%;
    }
    
    figcaption {
        min-width: 0;
        max-width: 100%;
    }

    .trophy-errors{
        min-width: 0;
    }
    /* Winners table format for mobile.*/
    #winners-table th,
    #winners-table td {
        display:block;
        width: 100%;
        text-align: center;
    }
    #winners-table th:first-child,
    #winners-table td:first-child {
        text-align: center;
    }

    /*Gallery styling for mobile*/
    .video {
        width: 100%;
    }

    /* drop photo gallery down to one column for mobile */
    .photo-container {
        column-count: 1;
    }

    /*Contact.html for mobile*/
    .text-input {
        padding-left: 1rem;
    }

    .contact-form > input,
    .contact-form > textarea {
        font-size: 1rem;
    }

    .send-button {
        font-size: 1.25rem !important;
    }

}
    
    
